rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function hasRole(uid, roles) {
      return firestore.exists(/databases/(default)/documents/roles/$(uid))
        && firestore.get(/databases/(default)/documents/roles/$(uid)).data.role in roles;
    }

    function isOwnerOrHelper() {
      return isSignedIn() && hasRole(request.auth.uid, ['owner', 'helper']);
    }

    function isOwner() {
      return isSignedIn() && hasRole(request.auth.uid, ['owner']);
    }

    match /modpacks/{allPaths=**} {
      allow read: if true;
      allow write: if isOwnerOrHelper();
    }

    match /texturepacks/{allPaths=**} {
      allow read: if true;
      allow write: if isOwnerOrHelper();
    }

    match /branding/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}
